<!DOCTYPE html>
{% load static %}
<html lang="en"  dir="rtl">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}    {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooplate-main.css' %}" >
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/flex-slider.css' %}">
<!--
-------------------------------------------------
-->
  </head>
 <!-- Pre Header -->
 <div id="pre-header">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <span>سایت فروشگاهی</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static 'images/logo1.jpg' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="margin-top: 300px">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home_view' %}">صفحه اصلی
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clothes_listview' %}">فروشگاه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">دریاره ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">تماس با ما</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="navbar-link" href="">
              <a class="nav-link" href="">خروج</a>
             {% else %}
              <a class="navbar-link" href="">
                <a class="nav-link" href="">ورود/ثبت نام</a>
              </a>
           {% endif %} 
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
  {% block comment %}
  {% endblock %}

 <!-- Footer Starts Here -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo">
              <img src="{% static 'images/logo1.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">فروشگاه</a></li>
                <li><a href="#">دریاره ما</a></li>
                <li><a href="#">تماس با ما</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="social-icons">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Ends Here -->
<!-- Subscribe Form Starts Here -->
<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>سایت فروشگاهی ارزانکده!</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>برای بهبود کار ما را حمایت کنید</p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" 
                    onfocus="if(this.value == 'Your Email...') { this.value = ''; }" 
                  onBlur="if(this.value == '') { this.value = 'ایمیل...';}"
                  value="Your Email..." required="">
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">حمایت!</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe Form Ends Here -->

    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>کپی رایت &copy; 2025  
                - طراح: با ما</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sub Footer Ends Here -->


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/flex-slider.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <!-----------------add-------------------->
<script>
  let slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>
  <!----------------------------------------------->
    </body>
    </html>